[Desktop Entry]
Name=Arona
Name[zh_CN]=阿罗娜
Description=Arona video login theme for SDDM
Description[zh_CN]=阿罗娜视频登录主题
Author=AronaProject
License=GPL-3.0
Type=SDDM Theme
Version=1.0
Website=https://bluearchive.jp
Screenshot=preview.jpg
